*{
    margin: 0px;
    padding: 0px;
}

header, section, footer, article, figure, figcaption, hgroup {
    display: block;
}

body {
    background-image: url(EBMJ.jpg);
    text-align: justify-all;
    margin-top: 2em;
}

#agrupar {
    width: 1200px;
    height: 1000px;
    margin: 0.5em auto;
    padding: 0.5em;
}

#seccion {
	width: 90%;
	float: center;
	margin: 10px;
	border-radius: 10px;
}

#titulo { /*Estilo del titulo principal*/
    margin: 0;
    margin-left: 85px;
    position: relative;
    text-align: center;
    font-family: Cottonwood, Sanvito, Vegur, 'PT Sans';
    font-style: italic;
    font-size: 100px;
    color:  #48D1CC;
    text-shadow: #B0E0E6 6px 6px 8px;
}

#seccion p {
    margin-left: 30px;
    margin-top: 20px;
    text-align: center;
    color: #48D1CC;
    font-family: verdana;
    font-size: 16px; 
}

section {
    float: left;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}

.article {
    width: 100%;
    margin: 0px;
    border-radius: 1em;
}

.article {
    background: rgb(216, 191, 216, 0.6); /*difuminado*/
    padding: 20px;
    margin-bottom: 25px;
}

.article h1{
    text-align: center;
    font-family: "Sanvito", "Vegur", "PT Sans", sans-serif;
    font-style: italic;
    font-size: 50px;
    color:  black;
    text-shadow:  black 6px 6px 8px; /*Para que el titulo tenga una sombra*/
}

.article p {
    text-align: justify;
    color: rgb(0, 0, 0);
    font-family: verdana;
    font-size: 16px; 
}

/*Div padre, que contiene a nuestro form*/
.pagina-iniciarsesion { 
  width: 100%;
  padding: 10px;
}

/*Formulario para simular la creacion de una cuenta*/
.form {
  position: relative; 
  z-index: 1;
  background: rgb(216, 191, 216, 0.6);
  max-width: 360px;
  margin-left: 330px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/*Estilo de las cajas de texto*/
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: rgb(216, 191, 216, 0.9);
  color: black;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

/*Estilo de los botones del formulario*/
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgba(0,0,0,0.1);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #48D1CC;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

/*Estilo de los botones cuando estan activos o tiene el foco*/
.form button:hover,.form button:active,.form button:focus {
  background: #B0E0E6;
  color: violet;
}

/*Estilo de los mensajes que muestra el formulario*/
.form .message {
  margin: 15px 0 0;
  color: black;
  font-size: 14px;
}

/*Estilo de los links que tiene el formulario*/
.form .message a {
  color: #B0E0E6;
  text-decoration: none; /*Para que no aparezca subrayado con el estilo por default*/
}
